<!DOCTYPE html>
<html>
  <head>
    <title>Strength Synth Blog</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <section>
      <div class="navbar navbar-expand-lg navbar-light" style="padding: 20px">
          <div>
              <a href="https://strengthsynth.com/">
                  <img src="{{ site.baseurl }}/images/personaltrainermanly.jpg" alt="personal trainer manly" width="300px">
              </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="https://strengthsynth.com/#about">About </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://strengthsynth.com/#testimonials">Testimonials </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://strengthsynth.com/#contact">Contact</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="http://blog.strengthsynth.com/">Blog</a>
                  </li>
              </ul>
          </div>
      </divv>
    
    </section>
    <section>
      <div id="main" role="main" class="container">
        {{ content }}
      </div>
    </section>

     <footer style="background: #678f9b;color:white; padding:50px">
        <center>
            <div style="display: flex; flex-wrap: wrap;">
                <div style="flex:1; margin-top:-30px;min-width: 300px;">
                    <img src="{{ site.baseurl }}/images/footerLogo.png" width="300px">
                </div>
                <div style="flex:1; margin-top:25px;min-width: 300px">
                    <a href="https://www.facebook.com/strengthsynth/" style="text-decoration: none; color: white"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/strengthsynth/" style="text-decoration: none; color: white"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
                <div style="flex:1;  margin-top:30px;min-width: 300px">
                    Shop 5, 722 Pittwater Rd, Brookvale 2100
                </div>
                <div style="flex:1; margin-top:25px;min-width: 300px">
                    +61 491 615 883<br />
                    christyler@strengthsynth.com
                </div>
            </div>
        </center>
    </footer>
    {% include analytics.html %}
  </body>
</html>
